<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
      <link rel="stylesheet" href="/styles.css">
      <style>
   
      </style>
</head>
<body>

      <h1>Items for sale! </h1>
       <nav>
      <a href="/home/new">Add an item!</a>
      </nav>
      <div class="container">
            <div class="table">
<ul>
      <% Data.forEach(data => {%>
            <li>
      <h3><%= data.name;%></h3>
      <a href="/home/<%= data._id%>">
      <img src="<%= data.img%>" alt="picture">
      </a>
      <br>
      <a href="/home/<%= data._id%>/edit">Edit Item</a>
      <br>
      <br>
      <form action="/home/<%= data._id %>?_method=DELETE" method="POST">
            <p><%= data.qty%></p>
      <input type="submit" value="DELETE ITEM">
</form>

<form action="/home/<%= Data.qty%>?_method=PUT" method="POST">
      <button class="buy">Buy</button>
</form>
    

      </li>
      <% }) %>
</ul>
</div>
</div>
</body>
</html>